@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  font-family: 'Exo', sans-serif;
}


/********* HAMBURGUESA **************/

.main-header {
  background-color: #8f94fb; 
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  padding: 0 0.4rem;
}

.main-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 90vh; 
  width: 100%;
  margin-top: -250%;
  transition: all 0.8s linear;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.7);
  flex-basis: 70%;
}
  
.main-nav.show {
  margin-top: 0;
}

.nav-links {
  background-color: #8f94fb;
  display: flex;
  width: 100%;
  height: 15%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center; 
}
  
.link-item {
  margin-top: 3rem;
  color: whitesmoke;
  text-decoration: none;
  font-weight: bold;
  position: relative;
}

.button-menu {
  z-index: 200;
  width: 40px;
  height: 40px;
  border: none;
  display: flex;
  background: none;
  flex-direction: column; /* Pondrá un span debajo del otro*/
  align-items: center;
  justify-content: center;
  cursor: pointer;
  

  /* display: none; */
}
  
/* 
  Dibujamos una línea recta por cada span creando el tipico menu hamburguesa
*/
  
.button-menu span {
  width: 37px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background:white;
  border-radius: 3px;
  transform-origin: 4px 0px;
  transition: all 0.2s linear;
  
}
  
/* 
  con los span dibujamos un icono de cerrar 
  para mostrar cuándo la navegación este abierta 
*/
  
.button-menu.close span {
  opacity: 1;
  transform: rotate(45deg) translate(0px, 0px);
  background: #ffffff;
}

.button-menu.close span:nth-child(2) {
  transform: rotate(-45deg) translate(-8px, 5px);
}

.button-menu.close span:nth-child(3) {
  display: none;
}
 
.link-item::after {
  position: absolute;
  content: "";
  /* background-color: black; */
  background-color: white;
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 3px;
  transition: 0.3s ease all;
}

.link-item:hover::after {
  width: 100%;
}

/*******  **********/

.home{
  height: 100vh;
}

.context {
  width: 100%;
  position: absolute;
  top:20vh;  
  overflow: hidden;

  height: 88vh;
}

.context h1{
  text-align: center;
  color: #fff;
  font-size: 50px;
}

.context p{
  text-align: center;
  color: #fff;
  font-size: 30px;
}

/******* BACKGROUND *********/

.area{
    background: #4e54c8;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    /* height: 353vh; */
    height: 351vh;
    
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 365vh; */
    height: 362vh;
    overflow: hidden;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 35s linear infinite;
  bottom: -150px; 
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0%{
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100%{
    /* transform: translateY(-1000px) rotate(720deg); */
    transform: translateY(-2500px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

/***********************/
/*HOME*/

.foto {
  width: 10%;
  height: auto;
}
img {
  width: 100%;
  height: auto;
}

.imagen {
  width: 100px;
  height:100px;
  border-radius:150px;
  border: 2px  solid #666;
  margin-top: 10px;
}

.foto {
  display: block;
  margin: auto;
}

/********* **********/
.title, .about {
  margin-left: 1em;
  color:white;
}


/***** PORTFOLIO ******/

.portfolio{
  height: 150vh;
  width: 100%;
}

.trabajos{
  height: 150vh;
  width: 100%;

  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}

.trabajos article{
  background-color: #8f94fb;
  width: 35%;
  max-height: 60vh;
  position: relative;
  display: block;
  color: white;

  border-style:groove;
  border-color: #4e54c8;
  border-radius: 0.5em;
  
  padding: 2em;
  margin: 2em;

  text-align: center;
  
  opacity: 0.7;
}

.trabajos article:hover{
  box-shadow: 15px 15px 50px #8f94fb;
}

.trabajos article .NYT_img {
  width: 50%;
  height: auto;

  margin: 2em 2em 0em 2em;
}

article.trabajo4{
  display: none;
}

.skill {
  height: 2em;
  width: auto;
}

.WebPage{
  margin-top: 20em;
}

.logo_github{
  width: 1em;
  height: auto;
}
.github{margin-top: 1em}

/****** ABOUT *******/

.about{
  /* height: 98vh; */
  height: 96vh;
  margin-top: 2em;
  
}
.about_container {
  display: flex;
  margin-top: 6em;
}

/* .foto_about {
  width: 100vh;
  height: auto;
} */
.imagen_about {
  display:inline-block;
  max-height: 50vh;
  border-radius: 1em;
  opacity: 1;
  z-index: 300;
  /* width: 25vh;
  height: 25vh; */
}

.text {
  text-align: center;
  font-size:larger;
  padding: 2em;
  line-height: 1.5em;
}

.contact{margin: 2em 1em}
.contact_container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.cv{
  z-index: 1;
  height: 1em;
  margin-top: 1em;
  text-decoration: none;
  color:white;
}
.cv:hover{color:blue}

.link{
  text-decoration: none;
  color:white;
  margin-top: 1em;
}
.link:hover{
  color:blue;
  z-index: 1;
}

/**************************/

.to_top{  /* Botón para subir arriba */
  height: 10vh;
  width: auto;
  
  position: fixed;
  color: white;

  right: 10px;
  bottom: 40px;
  z-index: 300;
}

.footer {
  background-color: #8f94fb; 
  width: 100%;
  height: 4vh;
  bottom: 0;
}
.text_footer {
  color: white;
  font-size: 20px;
  text-align: center;
}

/****** RESPONSIVE  *******/

@media only screen and (max-width: 650px){
  .trabajos article{
    background-color: #8f94fb;
    width: 35%;
    max-height: 60vh;
    position: relative;
    display: block;
    overflow: hidden;
    font-size: small;
    
    padding: 2em;
    margin: 2em;
  }
  
  .trabajos article:hover{
    box-shadow: 15px 15px 50px #8f94fb;
  }
  
  .trabajos article .NYT_img {
    width: 50%;
    height: auto;
  
    margin: 2em 2em 0em 2em;
  }

  article.trabajo4{
    display: none;
  }
  
  .skill {
    height: 2em;
    width: auto;
  }
  
}

@media only screen and (max-width: 450px) {
	/* Mugikorra */
  
	body {
		height: auto;
		color: black;
		overflow: auto;
	}
  body {font-size: small;}
	body div {font-size: small;}
	body section div {max-width: 100%;}

 
  .home {max-height: 150vh}
  .home > .context {
    font-size: medium;
    margin: auto;
    max-height: 100vh;
    top:3em;
  }
  .imagen {margin: auto}
  
  .trabajos article{
  width: 80%;
  max-height: 60vh;
  position: relative;
  display: block;
  color: white;

  border-style:groove;
  border-color: #4e54c8;
  border-radius: 0.5em;

  
  padding: 2em;
  margin: 2em;

  text-align: center;
  
  opacity: 0.7;
  }
  article.trabajo4{
    display: none;
  }

  .area{height: 403vh}
  .circles{height: 415vh}
  .portfolio{height: 200vh}


  /* ABOUT */
  .about{height: 98vh}
  .about_container {
    max-height: 77vh;
    display: flex;
    margin-top: 1em;
    overflow: hidden;
  }

  /* .foto_about {
    width: 100vh;
    height: auto;
  } */
  .imagen_about {display: none}

  .text {
    text-align: center;
    font-size:medium;
    padding: 2em;
    line-height: 1.5em;
  }

  .contact{margin: 2em 1em}
  .contact_container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .cv{
    z-index: 1;
    height: 1em;
    margin-top: 1em;
    text-decoration: none;
    color:white;
  }
}